
			@font-face {
            font-family: 'BYagut';
            src: url('fonts/BYagut.eot?#') format('eot'),  /* IE6–8 */
            url('fonts/BYagut.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
            url('fonts/BYagut.ttf') format('truetype');  /* Saf3—5, Chrome4+, FF3.5, Opera 10+ */
        	   font-weight: normal;
		    font-style: normal;
        	}
			body{
				    line-height:1.25;
			 /* fallback */ background-color: #2F2727;
			background-image: url(images/radial_bg.png);
			background-position: center center;
			background-repeat: no-repeat;
			/* Safari 4-5, Chrome 1-9 */ /* Can't specify a percentage size? Laaaaaame. */
			background: -webkit-gradient(radial, center center, 0, center center, 460, from(#0d1f3d), to(#000));
			/* Safari 5.1+, Chrome 10+ */ background: -webkit-radial-gradient(circle, #0d1f3d, #000);
			/* Firefox 3.6+ */ background: -moz-radial-gradient(circle, #0d1f3d, #000);
			/* IE 10 */ background: -ms-radial-gradient(circle, #0d1f3d, #000);
			}
			
			 a,a:link,a:visited,a:active {color:#FFF;text-decoration:none;}
			  
			#mainbox{
				width:542px;
				height:440px;
				position:absolute;
				margin-top:-245px;
				margin-left:-271px;
				top:50%;
				left:50%;	
			}
			#logotype{
				background-image:url('img/Logotype.png');
				width: 300px;
				height: 360px;
				position: absolute;
				margin-left: -150px;
				margin-top: -180px;
				top: 50%;
				left: 50%;
				background-size: cover;
			}
			.button{
				font-family: 'BYagut';
				color:white;
				width:542px;
				margin-left:-271px;
				left:50%;
				height:26px;
				margin-top:190px;
				top:50%;
				position:absolute;
			}
			.button_class{
				float:left;
				cursor: pointer;
				margin-left:20px;
				font-size:17pt;
				padding-top: 3px;
				padding-left:3px;
				padding-right:3px;
				padding-bottom:-2px;
				transition:  background-color 0.4s;
            	-webkit-transition: background-color 0.4s;
            	transition:color 0.4s;
            	-webkit-transition:color 0.4s;
	            transition:color 0.4s;
    	        -webkit-transition:color 0.4s;
        	    -o-transition-property:color,background-color;
            	-o-transition-duration:0.4s,0.4s;
	            transition-property:color,background-color;
    	        transition-duration:0.4s,0.4s;
			}
			.button_class:hover{
				background-color:white;
				color:#0d1f3d;
				}
			#AboutBox{
			
			width: 600px;
			height: 375px;
			position: absolute;
			margin-left: -300px;
			margin-top: -187.5px;
			left: 50%;
			top: 50%;
			
			}
			.Top{
				font-family:'BYagut';
				font-size:20pt;
				text-align: left;
				color:#FFFFFF;
				margin-bottom:3px;
			}
			.Detail{
				width:600px;
				height:135px;
				background-color:#666B72;
				opacity:1;
				margin-top:5px;
			}
			.DetailText{
				font-family: 'BYagut';
				font-size: 14pt;
				text-align: justify;
				color: #FFFFFF;
				margin-top: 7px;
				margin-right: 7px;
				direction:rtl;
				width: 585px;
				float: right;
			}
			#picture{
				background-image:url('img/shahidsoltani.jpg');
				width:600px;
				height:200px;
				opacity: 0.6;
				position:absolute;
				transition:  opacity 1s;
            	-webkit-transition: opacity 1s;
            	-o-transition-property:opacity;
            	-o-transition-duration:1s;
	            transition-property:opacity;
    	        transition-duration:1s;
			}
			#picture:hover{
				opacity:1;
			}
			.backbutton{
			background-image: url('img/Back.png');
			position: relative;
			width: 34px;
			height: 34px;
			background-size: cover;
			float: right;
			opacity:0.6;
				transition:  opacity 1s;
            	-webkit-transition: opacity 1s;
            	-o-transition-property:opacity;
            	-o-transition-duration:1s;
	            transition-property:opacity;
    	        transition-duration:1s;
    	        cursor: pointer;
			
			}
			.backbutton:hover{
				opacity: 1;
			}
			#TeamBox{
			width: 600px;
			height: 388px;
			position: absolute;
			margin-top: -194px;
			margin-left: -300px;
			left: 50%;
			top: 50%;
			}
			.BoxCenter{
				width:395px;
				height: 388px;
				margin-left:5px;
				position: relative;
				float:right;
				background-color: #515F70;
			}
			.BoxEnter{
				width: 200px;
				height: 25px;
				position: relative;
				direction: rtl;
				font-family: 'BYagut';
				text-align: center;
				font-size: 16pt;
				color: #FFFFFF;
				background-color: #515F70;
				padding-top: 3px;
				margin-bottom: 2px;
				
				transition:  background-color 0.4s;
            	-webkit-transition: background-color 0.4s;
            	transition:color 0.4s;
            	-webkit-transition:color 0.4s;
	            transition:color 0.4s;
    	        -webkit-transition:color 0.4s;
        	    -o-transition-property:color,background-color;
            	-o-transition-duration:0.4s,0.4s;
	            transition-property:color,background-color;
    	        transition-duration:0.4s,0.4s;
			}
			.BoxEnter:hover{
				background-color: #9FAAB8;
			}
			.Center{
				display: inline-block;
  				vertical-align: middle;
  				  
			}
			#ProPic{
				background-image: url('img/propic.jpg');
				width: 150px;
				height: 150px;
				background-size: cover;
				position: absolute;
				z-index: 1;
				left: 210px;
				top: 5px;
				
			}
    		#description{
    		font-family: 'BYagut';
			color: #FFF;
			position: absolute;
			z-index: 1;
			left: 210px;
			top: 5px;
			direction: rtl;
			padding-right: 5px;
			font-size: 12.5pt;
			
			}
			#map{
				width:500px;
				height:360px;
				margin-top: -180px;
				margin-left:-250px;
				top:50%;
				left:50%;
				position:absolute;
			}
			.address{
				
				font-family:'BYagut';
				
				direction:rtl;
				float:right;
				text-align:center;
				color:#FFF;
				width:500px;
			}
